.email {
  display: flex;
  align-items: center;
  justify-content: center;
}

.email > * {
  width: 12rem;
  height: 5rem;


}
.password {
  display: flex;
  align-items: center;
  justify-content: center;

}

input.password::-webkit-outer-spin-button,
input.password::-webkit-inner-spin-button {
  display: none;
}

input.password {
  -moz-appearance: textfield;
}
.button{
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
