<div>
  <div mat-dialog-content>
    <form [formGroup]="newUserForm">
      <div class="form-group">
        <mat-form-field>
          <input matInput placeholder="Email" formControlName="email">
          <mat-error *ngIf="newUserForm.controls.email.invalid">required</mat-error>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field>
          <input matInput placeholder="Name" formControlName="name">
          <mat-error *ngIf="newUserForm.hasError('whitespace')">required</mat-error>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field>
          <input matInput placeholder="Password" formControlName="password" [type]="hide ? 'password' : 'text'">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="newUserForm.hasError('whitespace')">required</mat-error>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field>
          <mat-select matNativeControl required placeholder="Role" formControlName="role">
            <mat-option value="Project Manager">Project Manager</mat-option>
            <mat-option value="Tester">Tester</mat-option>
            <mat-option value="Developer">Developer</mat-option>
            <mat-option value="Admin">Admin</mat-option>
          </mat-select>
          <mat-error *ngIf="newUserForm.controls.role.invalid">required</mat-error>
        </mat-form-field>
      </div>
    </form>
  </div>
  <button (click)="close()">close</button>
  <button (click)="send()" [disabled]="newUserForm.invalid">ok</button>
</div>
