<form [formGroup]="editUserForm">
  <div class="form-group">
    <mat-form-field>
      <input matInput type="text" formControlName="email" placeholder="Email" />
      <mat-error *ngIf="editUserForm.controls.email.invalid">required</mat-error>
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field>
      <input matInput type="text" formControlName="password" placeholder="Password" />
      <mat-error *ngIf="editUserForm.controls.password.invalid">required</mat-error>
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field>
      <mat-select matNativeControl required placeholder="role" formControlName="role">
        <mat-option value="Project Manager">Project Manager</mat-option>
        <mat-option value="Tester">Tester</mat-option>
        <mat-option value="Developer">Developer</mat-option>
        <mat-option value="Admin">Admin</mat-option>
      </mat-select>
      <mat-error *ngIf="editUserForm.controls.role.invalid">required</mat-error>
    </mat-form-field>
  </div>
  <button mat-raised-button color="primary" (click)="updateUser()">Update</button>
  <button mat-raised-button color="primary" (click)="navigateToHome()">Home</button>
</form>
