<app-navbar></app-navbar>
<div class="userPage">
  <div>
    <mat-list>
      <h4 class="font">Details:</h4>
      <mat-list-item>Email:  {{userPage.email}}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Role: {{userPage.role}}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Name: {{userPage.name}}</mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
  </div>
  <button mat-raised-button color="primary" (click)="homePage()">Home</button>
<!--  <div *ngIf="roleFromToken=='Admin'">-->
  <button *ngIf="roleFromToken=='Admin'"mat-raised-button color="accent" (click)="updateUser()">Edit</button>
<!--  </div>-->
  </div>

