<table mat-table [dataSource]="dataSource" class="mat-elevation-z8"(matSortChange)="updateData()" matSort>

  <ng-container matColumnDef="priority">
    <mat-header-cell *matHeaderCellDef> Priority: </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.priority}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="status">
    <mat-header-cell *matHeaderCellDef> Status: </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.status}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="ticketCode">
    <mat-header-cell *matHeaderCellDef> Ticket Code: </mat-header-cell>
    <mat-cell *matCellDef="let element"><a class="taskClick" [routerLink]="['/taskpage', element.id]">{{ element.ticketCode}}</a> </mat-cell>
  </ng-container>


  <ng-container matColumnDef="assignee">
    <mat-header-cell *matHeaderCellDef> Assigne: </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.assignee.email}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="project">
    <mat-header-cell *matHeaderCellDef> From Project: </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.project.projectCode}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="reporter">
    <mat-header-cell *matHeaderCellDef> Reporter: </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.reporter.email}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="delete">
    <mat-header-cell *matHeaderCellDef> Delete: </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <button mat-flat-button color="primary" (click)="deleteTask(element.id)">delete</button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</table>
<mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="[1, 2, 3, 5, 7, 10]" [showFirstLastButtons]="true"
               [length]="totalSize"
               [pageIndex]="currentPage" (page)="handlePage($event)">
</mat-paginator>
