<app-navbar></app-navbar>
<div class="taskPage">
  <div>
    <mat-list>
      <h4 class="font">Details:</h4>
      <mat-list-item>Description:  {{taskPage.description}}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Ticket-code  {{taskPage.ticketCode}}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Priority:  {{taskPage.priority}}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Status:  {{taskPage.status}}</mat-list-item>
      <mat-divider></mat-divider>
      <h4 class="font">People:</h4>
      <mat-list-item>Reproter:  {{taskPage.reporter.email}}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Assigne  {{taskPage.assignee.email}}</mat-list-item>
      <mat-divider></mat-divider>
      <h4 class="font">Dates:</h4>
      <mat-list-item>Created:  {{taskPage.createDate| date}}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Update: {{taskPage.updateDate| date}}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Due date:  {{taskPage.dueDate| date}}</mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
  </div>
  <button mat-raised-button color="primary" (click)="homePage()">Home</button>
  <button mat-raised-button color="accent" (click)="edit()">Edit</button>
</div>



