<!--  <a href="" rel="nofollow"><input type="button" value="New Task"></a>-->
<!--  <div class="popup animated" id="win1">-->
<!--    <label>Project code</label> <br>-->
<!--    <input name="project_code"> <br>-->
<!--    <label>Description</label> <br>-->
<!--    <textarea name="description"></textarea><br>-->
<!--    <label>Priority</label> <br>-->
<!--    <input name="priority"> <br>-->
<!--    <label>Due Date</label> <br>-->
<!--    <input name="due_date"> <br>-->
<!--    <label>Estimation</label> <br>-->
<!--    <input name="estimation"> <br>-->
<!--    <label>Assignee</label> <br>-->
<!--    <input name="assignee"> <br> <br>-->
<!--    <a rel="nofollow" class="close" href="#close"></a>-->
<!--  </div>-->
<!--<p>You have received a file called "cat-picture.jpeg".</p>-->

<!--<button mat-raised-button (click)="openBottomSheet()">Open file</button>-->
<h1>Details:</h1>
<p>#id:</p>
<p>Priority:</p>
<p>Status:</p>

<h1>People:</h1>
<p>Reporter:</p>
<p>Assignee:</p>

<h1>Dates:</h1>
<p>Created:</p>
<p>Update:</p>
<p>Due date:</p>
<p>Estimation:</p>

<h1>Description:</h1>
<p>From:</p>
<p>Description:</p>
<p>Estimation:</p>
