<app-navbar></app-navbar>
<div class="taskPage">
  <div>
    <mat-list>
      <h4 class="font">Details:</h4>
      <mat-list-item>Description:  {{taskPage.description}}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Ticket-code  {{taskPage.ticketCode}}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Priority:  {{taskPage.priority}}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Status:  {{taskPage.status}}</mat-list-item>
      <mat-divider></mat-divider>
      <h4 class="font">People:</h4>
      <mat-list-item>Reproter:  {{taskPage.reporter.email}}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Assigne  {{taskPage.assignee.email}}</mat-list-item>
      <mat-divider></mat-divider>
      <h4 class="font">Dates:</h4>
      <mat-list-item>Created:  {{taskPage.createDate| date}}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Update: {{taskPage.updateDate| date}}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Due date:  {{taskPage.dueDate| date}}</mat-list-item>
      <mat-divider></mat-divider>
      <form [formGroup]="commentForm">
        <mat-form-field class="commentForm">
          <textarea matInput placeholder="Comment" formControlName="content"></textarea>

        </mat-form-field>
        <button mat-raised-button color="primary" (click)="addComment()">Create</button>
      </form>
    </mat-list>
  </div>
  <button mat-raised-button color="primary" (click)="navigateToHomePage()">Home</button>
  <button mat-raised-button color="accent" (click)="editTask()">Edit</button>
</div>
<!--<button mat-raised-button color="warn"(click)="getAllComments()">Show comments</button>-->
<!--<div class="col-sm-8">-->
<!--  <div class="panel panel-white post panel-shadow" *ngFor="let comment of comments">-->
<!--    <div class="post-heading">-->
<!--      <div class="pull-left meta">-->
<!--        <div class="title h5">-->
<!--          <a href="#"><b>{{comment.user.name}}</b></a>-->
<!--          made a post.-->
<!--        </div>-->
<!--        <h6 class="text-muted time">1 minute ago</h6>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="post-description">-->
<!--      <p>{{comment.content}}</p>-->
<!--      <div class="stats">-->
<!--        <a href="#" class="btn btn-default stat-item">-->
<!--          <i class="fa fa-thumbs-up icon"></i>2-->
<!--        </a>-->
<!--        <a href="#" class="btn btn-default stat-item">-->
<!--          <i class="fa fa-thumbs-down icon"></i>12-->
<!--        </a>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->



