<app-navbar></app-navbar>
<div class="projectPage">
  <div>
    <mat-list>
      <div class="form-group">

        <mat-list-item>Project Manager:  {{projectManager.email}}
        </mat-list-item>
      </div>
      <mat-divider></mat-divider>
      <div class="form-group">
        <mat-list-item>Project Code:  {{projectPage.projectCode}}</mat-list-item>
      </div>
      <mat-divider></mat-divider>
      <div class="form-group">
        <mat-list-item>Summary:  {{projectPage.summary}}</mat-list-item>
      </div>
      <mat-divider></mat-divider>
    </mat-list>
  </div>
  <button mat-raised-button color="primary" (click)="homePage()">Home</button>
  <button *ngIf="roleFromToken=='Project Manager'" mat-raised-button color="accent" (click)="edit()">Edit</button>
</div>
