<div >
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
    <a class="navbar-brand" routerLink="/home">JIRA</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto" [ngSwitch]="roleInToken">
        <div *ngSwitchCase="'Project Manager'" ><button class="headerButton" (click)="newTask()" mat-flat-button color="primary">New Task</button></div>
        <div *ngSwitchCase="'Admin'" > <button class="headerButton" (click)="newUser()" mat-flat-button color="primary">New User</button></div>
        <div *ngSwitchCase="'Project Manager'"> <button  class="headerButton" (click)="newProject()" mat-flat-button color="primary">New Project</button> </div>
        <h5 *ngSwitchDefault></h5>
      </ul>
      <span class="userName">{{nameUserInSystem}}</span>
      <button class="logOutButton" mat-flat-button color="warn" (click)="logOutUser()" >Log Out</button>
    </div>
  </nav>
</div>
